---
import type { TaskCategory, Sample } from "@/types";
import Title from "@/components/ui/Title.astro";
import Divider from "@/components/ui/Divider.astro";
import CategorySelector from "./CategorySelector";

import LogoDesignIcon from "@/assets/icons/samples/logo-design.svg?url";
import BackgroundRemovalIcon from "@/assets/icons/samples/background-removal.svg?url";
import InfographicsIcon from "@/assets/icons/samples/infographics.svg?url";
import IllustrationsIcon from "@/assets/icons/samples/illustrations.svg?url";
import SocialMediaImagesIcon from "@/assets/icons/samples/social-media-images.svg?url";
import BookCoversIcon from "@/assets/icons/samples/book-covers.svg?url";
import BookLayoutsIcon from "@/assets/icons/samples/book-layouts.svg?url";
import BrochuresIcon from "@/assets/icons/samples/brochures.svg?url";
import BusinessCardIcon from "@/assets/icons/samples/business-card.svg?url";
import FlyersAndPostersIcon from "@/assets/icons/samples/flyers-and-posters.svg?url";
import LabelsIcon from "@/assets/icons/samples/labels.svg?url";
import PodcastCoversIcon from "@/assets/icons/samples/podcast-covers.svg?url";
import RestaurantMenuIcon from "@/assets/icons/samples/restaurant-menu.svg?url";
import SignsBannersIcon from "@/assets/icons/samples/signs-banners.svg?url";
import TShirtDesignIcon from "@/assets/icons/samples/t-shirt-design.svg?url";
import PackagingIcon from "@/assets/icons/samples/packaging.svg?url";

import SelectedLogoDesignIcon from "@/assets/icons/samples/selected-logo-design.svg?url";
import SelectedBackgroundRemovalIcon from "@/assets/icons/samples/selected-background-removal.svg?url";
import SelectedInfographicsIcon from "@/assets/icons/samples/selected-infographics.svg?url";
import SelectedIllustrationsIcon from "@/assets/icons/samples/selected-illustrations.svg?url";
import SelectedSocialMediaImagesIcon from "@/assets/icons/samples/selected-social-media-images.svg?url";
import SelectedBookCoversIcon from "@/assets/icons/samples/selected-book-covers.svg?url";
import SelectedBookLayoutsIcon from "@/assets/icons/samples/selected-book-layouts.svg?url";
import SelectedBrochuresIcon from "@/assets/icons/samples/selected-brochures.svg?url";
import SelectedBusinessCardIcon from "@/assets/icons/samples/selected-business-card.svg?url";
import SelectedFlyersAndPostersIcon from "@/assets/icons/samples/selected-flyers-and-posters.svg?url";
import SelectedLabelsIcon from "@/assets/icons/samples/selected-labels.svg?url";
import SelectedPodcastCoversIcon from "@/assets/icons/samples/selected-podcast-covers.svg?url";
import SelectedRestaurantMenuIcon from "@/assets/icons/samples/selected-restaurant-menu.svg?url";
import SelectedSignsBannersIcon from "@/assets/icons/samples/selected-signs-banners.svg?url";
import SelectedTShirtDesignIcon from "@/assets/icons/samples/selected-t-shirt-design.svg?url";
import SelectedPackagingIcon from "@/assets/icons/samples/selected-packaging.svg?url";


const icons: Record<string, any> = {
	"logo-design": LogoDesignIcon,
	"background-removal": BackgroundRemovalIcon,
	infographics: InfographicsIcon,
	illustrations: IllustrationsIcon,
	"social-media-images": SocialMediaImagesIcon,
	"book-covers": BookCoversIcon,
	"book-layouts": BookLayoutsIcon,
	brochures: BrochuresIcon,
	"business-cards": BusinessCardIcon,
	"flyers-posters": FlyersAndPostersIcon,
	labels: LabelsIcon,
	"podcast-covers": PodcastCoversIcon,
	"restaurant-menus": RestaurantMenuIcon,
	"signs-banners": SignsBannersIcon,
	"t-shirt-design": TShirtDesignIcon,
	packaging: PackagingIcon,
	"selected-logo-design": SelectedLogoDesignIcon,
	"selected-background-removal": SelectedBackgroundRemovalIcon,
	"selected-infographics": SelectedInfographicsIcon,
	"selected-illustrations": SelectedIllustrationsIcon,
	"selected-social-media-images": SelectedSocialMediaImagesIcon,
	"selected-book-covers": SelectedBookCoversIcon,
	"selected-book-layouts": SelectedBookLayoutsIcon,
	"selected-brochures": SelectedBrochuresIcon,
	"selected-business-cards": SelectedBusinessCardIcon,
	"selected-flyers-posters": SelectedFlyersAndPostersIcon,
	"selected-labels": SelectedLabelsIcon,
	"selected-podcast-covers": SelectedPodcastCoversIcon,
	"selected-restaurant-menus": SelectedRestaurantMenuIcon,
	"selected-signs-banners": SelectedSignsBannersIcon,
	"selected-t-shirt-design": SelectedTShirtDesignIcon,
	"selected-packaging": SelectedPackagingIcon,
	default: LogoDesignIcon,
	"selected-default": SelectedLogoDesignIcon
};

const getIcon = (category: TaskCategory["slug"], selected: boolean = false) => {
	const icon = icons[selected ? `selected-${category}` : category];

	if (icon) return icon;

	return selected ? icons["selected-default"] : icons.default;
};

const response = await fetch("https://app.kapa99.com/api/astro/samples");
const data = await response.json();

const taskCategories: Array<TaskCategory> = data.taskCategories
	.filter((category: TaskCategory) => category.enabled && category.samples.length)
	.map((category: TaskCategory) => ({
		...category,
		icon: getIcon(category.slug),
		selectedIcon: getIcon(category.slug, true)
	}))
	.sort((a: TaskCategory, b: TaskCategory) => a.sort_order_on_samples - b.sort_order_on_samples);
---

<div class="site-container">
	<div class="mb-10">
		<Title type="h4" class="text-center"> What kind of design are you looking for? </Title>
	</div>

	<CategorySelector client:only="preact" initialTaskCategories={taskCategories} />

	<Divider size="extra-large" />
</div>
