---
import HeroChip from "@/components/pricing/HeroChip.astro";
import Divider from "@/components/ui/Divider.astro";
import Title from "@/components/ui/Title.astro";
import { PRICING_URL } from "@/constants/app";
---
<section class="site-container text-neutral-10">
	<Divider size="small" />
	<div class="mx-auto max-w-[90%] text-center">
		<HeroChip icon="award" title="Real projects. Real results." />

		<div class="mt-6 space-y-4">
			<Title type="h1">
				High-quality design that helps your business grow
			</Title>

			<div class="text-k-lg text-neutral-40 mx-auto max-w-[80%]">
				From logos to print designs, these are real results delivered by our designers. Fast, consistent, and on-brand.
			</div>

			<div class="mt-6 flex justify-center">
				<a class="button-primary" href={PRICING_URL}>Start with a free 15 day trial</a>
			</div>
		</div>
	</div>
</section>