<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11347797020"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-11347797020');
</script>

<!-- Heap -->
<script type="text/javascript">
window.heap = window.heap || [], heap.load = function (e, t) {
	window.heap.appid = e, window.heap.config = t = t || {};
	var r = document.createElement("script");
	r.type = "text/javascript", r.async = !0, r.src = "https://cdn.heapanalytics.com/js/heap-" + e + ".js";
	var a = document.getElementsByTagName("script")[0];
	a.parentNode.insertBefore(r, a);
	for (var n = function (e) {return function () {heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))}}, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], o = 0; o < p.length; o++) heap[p[o]] = n(p[o])
	};
heap.load("4272399861");
</script>

<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '850071325151565');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" alt="fb" style="display:none"
src="https://www.facebook.com/tr?id=850071325151565&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

<!-- Start of LiveChat (www.livechatinc.com) code -->
<script>
window.__lc = window.__lc || {};
window.__lc.license = 13829340;
;(function (n, t, c) {
	function i(n) {return e._h ? e._h.apply(null, n) : e._q.push(n)}

	var e = {
	_q: [], _h: null, _v: "2.0", on: function () {i(["on", c.call(arguments)])}, once: function () {i(["once", c.call(arguments)])}, off: function () {i(["off", c.call(arguments)])}, get: function () {
	if (!e._h) throw new Error("[LiveChatWidget] You can't use getters before load.");
	return i(["get", c.call(arguments)])
	}, call: function () {i(["call", c.call(arguments)])}, init: function () {
	var n = t.createElement("script");
	n.async = !0, n.type = "text/javascript", n.src = "https://cdn.livechatinc.com/tracking.js", t.head.appendChild(n)
	}
	};
	!n.__lc.asyncInit && e.init(), n.LiveChatWidget = n.LiveChatWidget || e
	}(window, document, [].slice))
</script>
<noscript><a href="https://www.livechatinc.com/chat-with/13829340/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
<!-- End of LiveChat code -->

<!-- Profitwell-->
<script id="profitwell-js" data-pw-auth="2ea3ef751bd5750951d11b7f72b58042">
(function (i, s, o, g, r, a, m) {
	i[o] = i[o] || function () {(i[o].q = i[o].q || []).push(arguments)};
	a = s.createElement(g);
	m = s.getElementsByTagName(g)[0];
	a.async = 1;
	a.src = r + '?auth=' +
		s.getElementById(o + '-js').getAttribute('data-pw-auth');
	m.parentNode.insertBefore(a, m);
	})(window, document, 'profitwell', 'script', 'https://public.profitwell.com/js/profitwell.js');

profitwell('start', {});
</script>

<!-- Linkedin -->
<script type="text/javascript">
_linkedin_partner_id = "5097754";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script>
<script type="text/javascript">
(function (l) {
	if (!l) {
	window.lintrk = function (a, b) {window.lintrk.q.push([a, b])};
	window.lintrk.q = []
	}
	var s = document.getElementsByTagName("script")[0];
	var b = document.createElement("script");
	b.type = "text/javascript";
	b.async = true;
	b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
	s.parentNode.insertBefore(b, s);
	})(window.lintrk);
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="linkedin" src="https://px.ads.linkedin.com/collect/?pid=5097754&fmt=gif" />
</noscript>
