---
import type { AstroComponentFactory } from "astro";
import DesignIcon from "@/assets/icons/benefits/design.svg";
import Title from "@/components/ui/Title.astro";
import Divider from "@/components/ui/Divider.astro";
import BenefitCard from "@/components/ui/BenefitCard.astro";
import type { IBenefits } from "@/types";

// Light icons
import TimeIcon from "@/assets/icons/benefits/time.svg";
import SaveMoneyIcon from "@/assets/icons/benefits/save-money.svg";
import QualityWorkIcon from "@/assets/icons/benefits/get-quality.svg";
import RiskFreeIcon from "@/assets/icons/benefits/risk-free.svg";
import ProfessionalIcon from "@/assets/icons/benefits/professional.svg";
import CancelAnytimeIcon from "@/assets/icons/benefits/cancel-anytime.svg";
import UnlimitedEditsIcon from "@/assets/icons/benefits/unlimited.svg";

// Dark icons
import DarkTimeIcon from "@/assets/icons/benefits/dark-save-time.svg";
import DarkSaveMoneyIcon from "@/assets/icons/benefits/dark-save-money.svg";
import DarkQualityWorkIcon from "@/assets/icons/benefits/dark-get-quality.svg";
import DarkRiskFreeIcon from "@/assets/icons/benefits/dark-risk-free.svg";
import DarkProfessionalIcon from "@/assets/icons/benefits/dark-professionals.svg";
import DarkCancelAnytimeIcon from "@/assets/icons/benefits/dark-cancel-anytime.svg";
import DarkUnlimitedEditsIcon from "@/assets/icons/benefits/dark-unlimited.svg";
import DarkDesignIcon from "@/assets/icons/benefits/dark-industry-experts.svg";

interface Props {
	theme?: "light" | "dark";
}

const benefits: IBenefits = [
	{
		title: "Save Time",
		description: "Delegate any design task in 5 minutes and get it back in 12 to 48 hours.",
		icon: TimeIcon,
		darkIcon: DarkTimeIcon,
	},
	{
		title: "Save Money",
		description: "Our plans starts at $349/m. No more breaking the bank.",
		icon: SaveMoneyIcon,
		darkIcon: DarkSaveMoneyIcon,
	},
	{
		title: "Get Quality Work",
		description: "Whether you need a simple logo or a complex illustration, we’ll get it done.",
		icon: QualityWorkIcon,
		darkIcon: DarkQualityWorkIcon,
	},
	{
		title: "Risk-Free",
		description: "Enjoy a complimentary 15-day trial on us, no strings attached.",
		icon: RiskFreeIcon,
		darkIcon: DarkRiskFreeIcon,
	},
	{
		title: "Work With Professional",
		description: "Stop wasting time with freelancers that leave you hanging.",
		icon: ProfessionalIcon,
		darkIcon: DarkProfessionalIcon,
	},
	{
		title: "Cancel Anytime",
		description: "No lock-in contracts. Go month-to-month, and cancel whenever you want.",
		icon: CancelAnytimeIcon,
		darkIcon: DarkCancelAnytimeIcon,
	},
	{
		title: "Unlimited Edits",
		description: "There's no limit to how many open projects you can have at the same time.",
		icon: UnlimitedEditsIcon,
		darkIcon: DarkUnlimitedEditsIcon,
	},
	{
		title: "Industry Experts",
		description: "Whatever your niche, we have a graphic designer with the expertise to help.",
		icon: DesignIcon,
		darkIcon: DarkDesignIcon,
	},
];

const { theme = "light" } = Astro.props;
---

<section class="site-container" data-theme={theme}>
	<Title type="h1" class="lg:w-[70%] dark:text-neutral-100">
		Benefits of your graphic design subscription
	</Title>

	<Divider size="large" />

	<div class="grid grid-cols-2 gap-x-14 gap-y-20 md:grid-cols-3 lg:grid-cols-4">
		{benefits.map((benefit) => <BenefitCard theme={theme} data={benefit} />)}
	</div>
</section>
