---
import ArrowIcon from "@/assets/icons/arrow-icon.svg";
import Background from "@/assets/images/call-to-action/background.webp?url";
import Title from "@/components/ui/Title.astro";
import { PRICING_URL } from "../../constants/app";
---

<section
	class="bg-night-blue relative flex h-[520px] w-full items-center justify-center bg-contain bg-center bg-no-repeat"
>
	<img src={Background} class="h-[520px] w-full object-cover" alt="Background" />
	<div class="top-50% left-50% absolute z-10">
		<Title type="h1" class="text-center text-neutral-100">
			Try it out with <br />
			15-days free trial
		</Title>

		<div class="text-k-h5-mobile text-neutral-80 mx-auto my-6 w-[80%] text-center lg:hidden">
			Schedule a live demo with us today and see first-hand if Kapa is right for you.
		</div>

		<div class="mt-6 text-center">
			<a href={PRICING_URL} class="button-primary"> Start free trial </a>
		</div>
	</div>
</section>
