---
import KaImage from "@/assets/images/founders/ka.webp?url";
import PaolaImage from "@/assets/images/founders/paola.webp?url";
import Divider from "@/components/ui/Divider.astro";
import Title from "@/components/ui/Title.astro";

const founders = [
	{
		name: "Ka Kei",
		job: "Founder",
		image: KaImage,
	},
	{
		name: "Paola",
		image: PaolaImage,
		job: "Co-Founder",
	},
];
---

<div class="site-container">
	<Title type="h4" class="mx-auto text-center lg:w-[80%]">
		Stop wrestling with Canva or overpaying agencies.  <br class="hidden xl:inline-block" />
		<span class="text-neutral-60">
		Delegate any design in 5 minutes, get it back in 24 hours—looking better than you imagined. 
		</span>
	</Title>

	<Divider size="medium" />

	<div class="mx-auto flex justify-center gap-x-4 lg:gap-x-20">
		{
			founders.map((founder) => (
				<div class="flex gap-x-4">
					<img class="w-16" src={founder.image} alt={founder.name} />
					<div class="flex flex-col justify-center gap-x-4">
						<span class="text-k-lg text-neutral-10 font-semibold">{founder.name}</span>
						<span class="text-k-sm text-neutral-60">{founder.job}</span>
					</div>
				</div>
			))
		}
	</div>
</div>
