---
import ArrowRightUp from "@/assets/icons/arrow-right-up.svg";
import Title from "@/components/ui/Title.astro";
import OurClients from "@/components/landing/OurClients.astro";
import Divider from "../ui/Divider.astro";
---

<section class="site-container text-neutral-10">
	<Divider size="small" />
	<div class="mx-auto max-w-[90%] text-center">
		<div
			class="text-k-sm text-neutral-40 border-blue mb-4 inline-flex items-center gap-x-1 rounded-[100px] border px-4 py-1"
		>
			15 years of helping businesses
			<ArrowRightUp />
		</div>

		<div class="mt-6 space-y-4">
			<Title type="h1"> A dedicated design team for your business without the big price tag </Title>

			<div class="text-k-lg text-neutral-40 mx-auto max-w-[80%]">
				Get instant access to a team of professional designers—no hiring or contracts required for a
				flat monthly fee starting at $349/month.
			</div>

			<div class="mt-6 flex justify-center">
				<a class="button-primary" href="#">Start with a free 15 day trial</a>
			</div>
		</div>

		<OurClients />
	</div>
</section>
