---
import Carousel from "@/components/ui/Carousel.tsx";

import Sample1 from "@/assets/images/hero/samples/sample1.webp?url";
import Sample2 from "@/assets/images/hero/samples/sample2.webp?url";
import Sample3 from "@/assets/images/hero/samples/sample3.webp?url";
import Sample4 from "@/assets/images/hero/samples/sample4.webp?url";
import Sample5 from "@/assets/images/hero/samples/sample5.webp?url";
import Sample6 from "@/assets/images/hero/samples/sample6.webp?url";
import Sample7 from "@/assets/images/hero/samples/sample7.webp?url";

const samples = [
	{ image: Sample1, alt: "Sample 1" },
	{ image: Sample2, alt: "Sample 2" },
	{ image: Sample3, alt: "Sample 3" },
	{ image: Sample4, alt: "Sample 4" },
	{ image: Sample5, alt: "Sample 5" },
	{ image: Sample6, alt: "Sample 6" },
	{ image: Sample7, alt: "Sample 7" },
];
---

<!--<div class="mt-16 flex gap-x-4 overflow-x-scroll">--><!--	{samples.map((sample) => <img src={sample.image} alt={sample.alt} class="w-[360px]" />)}--><!--</div>-->
<div class="mt-12 lg:mt-16">
	<Carousel client:only="preact" data={samples} />
</div>
