---
import Title from "@/components/ui/Title.astro";
import Divider from "../ui/Divider.astro";
import ServicesCarousel from "@/components/ui/services/ServicesCarousel.tsx";

import BackgroundImage from "@/assets/images/services/background.webp?url";
---

<section
	class="bg-night-blue"
	style={`background-image: url(${BackgroundImage}); background-size: cover; background-position: center;`}
>
	<!-- Carousel -->
	<div class="pl-6 sm:pl-8 xl:pl-20">
		<ServicesCarousel client:only="preact">
			<Divider size="large" />

			<Title type="h1" class="text-neutral-100">
				Whatever you need, <br /> we’ve got you covered.
			</Title>

			<Divider size="almost-large" />
		</ServicesCarousel>
	</div>

	<Divider size="large" />
</section>
