---
import Title from "@/components/ui/Title.astro";
import Divider from "../ui/Divider.astro";

import BackgroundImage from "@/assets/images/services/background.webp?url";
import BrandingImage from "@/assets/images/services/branding.webp?url";
import IllustrationsImage from "@/assets/images/services/illustrations.webp?url";
import BusinessCardsImage from "@/assets/images/services/business-cards.webp?url";
import BillBoardsImage from "@/assets/images/services/billboards.webp?url";

const halfServices = [
	{
		title: "Branding",
		image: BrandingImage,
	},
	{
		title: "Illustrations",
		image: IllustrationsImage,
	},
	{
		title: "Business Cards",
		image: BusinessCardsImage,
	},
	{
		title: "Billboards",
		image: BillBoardsImage,
	},
];

const services = [...halfServices, ...halfServices];
---

<section
	class="bg-night-blue"
	style={`background-image: url(${BackgroundImage}); background-size: cover; background-position: center;`}
>
	<div class="site-container">
		<Divider size="large" />

		<Title type="h1" class="text-neutral-100"> Whatever you need, we’ve got you covered. </Title>

		<Divider size="almost-large" />
	</div>

	<!-- Carousel -->
	<div>
		<div class="flex gap-x-2 overflow-x-scroll">
			{services.map((service) => <img src={service.image} alt={service.title} class="w-[336px]" />)}
		</div>
	</div>

	<Divider size="large" />
</section>
