---
import NoContractsIcon from "@/assets/icons/trust-badgeds/no-contracts.svg";
import ALotOfClientsIcon from "@/assets/icons/trust-badgeds/a-lot-of-clients.svg";
import MoneyBackIcon from "@/assets/icons/trust-badgeds/money-back.svg";
import Divider from "@/components/ui/Divider.astro";
---

<div class="space-between mx-auto flex w-[95%] justify-center space-x-10 lg:w-[70%]">
	<div class="flex items-center space-x-1">
		<NoContractsIcon />
		<span>No contracts. Cancel at any time</span>
	</div>
	<div class="flex items-center space-x-1">
		<ALotOfClientsIcon />
		<span>Over 4000+ clients served</span>
	</div>
	<div class="flex items-center space-x-1">
		<MoneyBackIcon />
		<span>30 day money back guarantee</span>
	</div>
</div>
