---
import Title from "@/components/ui/Title.astro";
import Divider from "@/components/ui/Divider.astro";
import HeroChip from "@/components/pricing/HeroChip.astro";

import { PRICING_URL } from "@/constants/app";
import { PRICING_URL } from "../../constants/app";
---

<section class="site-container text-neutral-10">
	<Divider size="small" />
	<div class="mx-auto max-w-[90%] text-center">
		<HeroChip icon="crown" title="Unlimited design, done better." />

		<div class="mt-6 space-y-4">
			<Title type="h1"> The creative struggle </Title>

			<div class="text-k-lg text-neutral-40 mx-auto max-w-[80%]">
				See how Kapa compares to freelancers and agencies — and why more businesses are switching to
				get quality design, faster and stress-free.
			</div>

			<div class="mt-6 flex justify-center">
				<a class="button-primary" href={PRICING_URL}>Start with a free 15 day trial</a>
			</div>
		</div>
	</div>
</section>
