---
import ArrowRight from "@/assets/icons/competitors/arrow-right.svg";
import type { Page } from "@/pages.types";

interface Props {
	column: Page[];
}

const { column } = Astro.props;
---

{
	column.map((page) => (
	<a
		href={`/compare/${page.slug}`}
		class="group text-k-lg text-neutral-95 flex items-center gap-x-3"
	>
		{page.title}
		<div class="hidden grow group-hover:inline-block">
			<ArrowRight />
		</div>
	</a>
		))
	}
