---
import Title from "../ui/Title.astro";
import KapaVsAlternativeColumn from "./KapaVsAlternativeColumn.astro";
const response = await fetch("https://kapa99.com/api/astro/pages");
const { pages: p } = await response.json();

const pages = p.filter((p) => p.title.includes("vs"));
const firstColumn = pages.slice(0, Math.ceil(pages.length / 2));
const secondColumn = pages.slice(Math.ceil(pages.length / 2));
---

<div class="site-container">
	<div class="grid grid-cols-1 lg:grid-cols-4">
		<div class="lg:col-span-2 mb-8 lg:mb-0">
			<Title type="h2" class="text-neutral-100">Compare Kapa to the alternatives</Title>
		</div>

		<div class="flex flex-col gap-y-6 text-neutral-100 px-10 lg:border-l lg:border-[rgba(102,153,255,0.20)]">
			<KapaVsAlternativeColumn column={firstColumn} />
		</div>

		<div class="flex flex-col gap-y-6 text-neutral-100 px-10 lg:border-l lg:border-[rgba(102,153,255,0.20)]">
			<KapaVsAlternativeColumn column={secondColumn} />
		</div>
	</div>
</div>

<script define:vars={{ pages, p, firstColumn, secondColumn }}>
	console.log({ pages, p, firstColumn, secondColumn });
</script>