---
import Title from "@/components/ui/Title.astro";
import Divider from "@/components/ui/Divider.astro";
import HeroChip from "../pricing/HeroChip.astro";
---

<section class="site-container text-neutral-10">
	<Divider size="small" />
	<div class="mx-auto text-center lg:max-w-[90%]">
		<HeroChip icon="award" title="Trusted by 4,000+ brands" />

		<div class="mt-6 space-y-4">
			<Title type="h1"> Success stories from our clients </Title>
		</div>
	</div>
</section>
