---
import KaImage from "@/assets/images/founders/ka.webp?url";
import PaolaImage from "@/assets/images/founders/paola.webp?url";
import Divider from "@/components/ui/Divider.astro";

const founders = [
	{
		name: "Ka Kei",
		job: "Founder",
		image: KaImage,
	},
	{
		name: "Paola",
		image: PaolaImage,
		job: "Co-Founder",
	},
];
---

<div class="site-container">
	<h4
		class="text-k-h4-mobile lg:text-k-h4 font-semibold mx-auto text-center lg:w-[80%] text-wipe-text"
		data-animate="text-wipe"
	>
		Stop wrestling with Canva or overpaying agencies. <br class="hidden xl:inline-block" />
		Delegate any design in 5 minutes, and get it back in 24 hours
		looking better than you imagined.
	</h4>

	<Divider size="medium" />

	<div class="founders-row mx-auto flex justify-center gap-x-4 lg:gap-x-20" style="opacity: 0; transform: translateY(15px);">
		{
			founders.map((founder) => (
				<div class="flex gap-x-4">
					<img class="w-16" src={founder.image} alt={founder.name} />
					<div class="flex flex-col justify-center gap-x-4">
						<span class="text-k-lg text-neutral-10 font-semibold">{founder.name}</span>
						<span class="text-k-sm text-neutral-60">{founder.job}</span>
					</div>
				</div>
			))
		}
	</div>
</div>

<style>
	.text-wipe-text {
		background: linear-gradient(
			to right,
			rgb(24, 29, 41) 0%,
			rgb(24, 29, 41) 50%,
			rgb(163, 170, 184) 50%,
			rgb(163, 170, 184) 100%
		);
		background-size: 200% 100%;
		background-position: 100% 0;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		will-change: background-position;
	}
</style>
