---

---

<div>
	<svg
		class="h-7"
		width="100%"
		height="100%"
		preserveAspectRatio="none"
		viewBox="0 0 176 28"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M25.6259 9.95576C26.1544 6.25451 28.8617 4.01451 33.0617 4.01451C37.6974 4.01451 40.0617 6.75151 40.0617 10.6103V17.0818C40.0617 19.1345 40.2489 20.286 40.5587 21.1575H36.4217C36.2047 20.5975 36.1102 19.789 36.0787 18.886C34.7102 20.8145 32.6557 21.623 30.6659 21.623C27.3987 21.623 25.0659 20.006 25.0659 16.8C25.0659 14.5285 26.3417 12.8188 28.8932 11.977C31.1017 11.2298 33.2489 11.0443 36.0489 11.0128V10.6085C36.0489 8.46126 35.0217 7.30976 32.8132 7.30976C30.9162 7.30976 29.8889 8.36851 29.6404 9.95401H25.6277L25.6259 9.95576ZM31.6914 18.6673C34.1484 18.6673 36.0472 16.6758 36.0472 14.1873V13.4715C30.3859 13.5643 29.0787 14.903 29.0787 16.583C29.0787 17.8588 30.0744 18.6673 31.6914 18.6673Z"
			fill="#181D29"></path>
		<path
			d="M42.5488 28V4.48H46.5301V6.377C47.5871 4.85275 49.0816 4.01275 50.9173 4.01275C55.2731 4.01275 57.9488 7.34125 57.9488 12.7855C57.9488 18.2297 55.2118 21.6212 50.9173 21.6212C49.0816 21.6212 47.5573 20.8442 46.5301 19.3497V27.9982H42.5488V28ZM46.5318 12.7872C46.5318 16.3345 47.8688 18.3242 50.2033 18.3242C52.5378 18.3242 53.8433 16.3642 53.8433 12.7872C53.8433 9.21025 52.5361 7.3115 50.2033 7.3115C47.8706 7.3115 46.5318 9.24 46.5318 12.7872Z"
			fill="#181D29"></path>
		<path
			d="M60.0644 9.95576C60.5929 6.25451 63.3001 4.01451 67.5001 4.01451C72.1359 4.01451 74.5001 6.75151 74.5001 10.6103V17.0818C74.5001 19.1345 74.6874 20.286 74.9971 21.1575H70.8601C70.6431 20.5975 70.5486 19.789 70.5171 18.886C69.1486 20.8145 67.0941 21.623 65.1044 21.623C61.8371 21.623 59.5044 20.006 59.5044 16.8C59.5044 14.5285 60.7801 12.8188 63.3316 11.977C65.5401 11.2298 67.6874 11.0443 70.4874 11.0128V10.6085C70.4874 8.46126 69.4601 7.30976 67.2516 7.30976C65.3546 7.30976 64.3274 8.36851 64.0789 9.95401H60.0661L60.0644 9.95576ZM66.1316 18.6673C68.5886 18.6673 70.4874 16.6758 70.4874 14.1873V13.4715C64.8261 13.5643 63.5189 14.903 63.5189 16.583C63.5189 17.8588 64.5146 18.6673 66.1316 18.6673Z"
			fill="#181D29"></path>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M19.6195 21.154C19.6194 21.1546 19.6194 21.1552 19.6194 21.1558V21.154H19.6195ZM15.978 12.2567C18.2805 14.6748 19.8065 17.7775 19.6195 21.154H24.0819C24.0451 19.7085 23.7931 18.2735 23.3609 16.9172C22.4264 14.0675 20.747 11.5619 18.6154 9.5156C20.2624 7.36084 21.3786 4.80692 21.7246 2.07375C21.8244 1.386 21.8804 0.69125 21.8961 0H17.8641C17.9901 2.1315 17.5299 4.27175 16.5289 6.1635C16.3254 6.54317 16.0962 6.91549 15.8442 7.27764C14.7381 6.52824 13.5638 5.88208 12.3481 5.34975C11.4944 4.98945 10.5895 4.6671 9.66007 4.43414C9.64477 4.11981 9.62618 3.80548 9.60749 3.48955L9.60583 3.4615C9.53583 2.31875 9.44483 1.1585 9.32933 0H5.12933C5.24133 1.078 5.33233 2.156 5.40233 3.22175C5.42332 3.53478 5.44256 3.8443 5.4583 4.15383C4.88378 4.24167 4.3148 4.39086 3.75738 4.613C1.37913 5.57025 0.197878 7.9275 0.264378 10.3932C0.231128 12.5422 1.47188 14.4777 3.42138 15.2985C5.55638 16.2242 7.98013 15.9932 10.0574 15.4035C12.2275 14.7819 14.2463 13.6914 15.978 12.2567ZM13.3025 9.97815C12.535 9.44844 11.7322 8.98411 10.9149 8.59425C10.5924 8.44157 10.2071 8.28051 9.78432 8.12999C9.78433 8.13016 9.78433 8.13033 9.78433 8.1305C9.78942 8.45617 9.79287 8.7802 9.79626 9.09939L9.79658 9.12975L9.80008 9.128C9.80533 9.75625 9.80533 10.3705 9.80008 10.9672C8.69933 11.4117 7.57408 11.6427 6.48208 11.6427C6.36308 11.6427 6.24758 11.641 6.13033 11.634C5.96758 11.62 5.78908 11.5955 5.61408 11.557C5.62458 10.5927 5.62458 9.583 5.60883 8.54C5.60541 8.23006 5.59863 7.91846 5.59179 7.60353L5.59135 7.58329C4.6781 7.78026 3.95765 8.30691 3.69963 9.36425C3.25863 11.3172 4.03738 12.3882 6.06388 12.5667C8.6203 12.6925 11.2195 11.6418 13.3025 9.97815ZM5.44608 16.7878C5.82758 16.8315 6.22133 16.8542 6.62208 16.8542C7.57933 16.8542 8.59433 16.7283 9.64958 16.4762C9.51133 19.3463 9.32933 21.1558 9.32933 21.1558H5.12933C5.12933 21.1558 5.30433 19.4775 5.44608 16.7878Z"
			fill="#181D29"></path>
	</svg>
</div>
