---
import Title from "@/components/ui/Title.astro";
---

<div class="site-container my-10 flex flex-col items-center lg:mt-0 lg:mb-10">
	<Title type="h1" class="mt-6">Included with all plans</Title>
</div>
