---
import BoltIcon from "@/assets/icons/pricing/bolt.svg";
import RedBoltIcon from "@/assets/icons/pricing/red-bolt.svg";
import AwardIcon from "@/assets/icons/pricing/award.svg";
import LayoutIcon from "@/assets/icons/pricing/layout.svg";
import CrownIcon from "@/assets/icons/pricing/crown.svg";
import SwordIcon from "@/assets/icons/pricing/sword.svg";

type Icon = "bolt" | "red-bolt" | "award" | "layout" | "crown" | "sword";

interface Props {
	title?: string;
	icon?: Icon;
	align?: "left" | "center" | "right";
}

const {
	title = "Pick the package that fits you best",
	icon = undefined,
	align = "center"
}: Props = Astro.props;

const getIcon = (icon?: Icon) => {
	if (icon === "red-bolt") {
		return RedBoltIcon;
	}

	if (icon === "award") {
		return AwardIcon;
	}

	if (icon === "layout") {
		return LayoutIcon;
	}

	if (icon === "crown") {
		return CrownIcon;
	}

	if (icon === "sword") {
		return SwordIcon;
	}

	return BoltIcon;
};

const HeroChipIcon = getIcon(icon);
---

<!--<Divider size="small" />-->
<div
	class="flex items-center"
	class:list={{
		"justify-center": align === "center",
		"justify-start": align === "left",
		"justify-end": align === "right"
	}}
>
	<div
		class="text-k-sm text-neutral-40 border-light-blue mb-4 inline-flex items-center gap-x-1 rounded-[100px] border px-4 py-1"
	>
		{title}

		<HeroChipIcon />
	</div>
</div>
