---
import BoltIcon from "@/assets/icons/pricing/bolt.svg";
import Title from "@/components/ui/Title.astro";
---

<div class="site-container my-10 flex flex-col items-center">
	<div
		class="text-k-sm text-neutral-40 border-blue mb-4 inline-flex items-center gap-x-1 rounded-[100px] border px-4 py-1"
	>
		Pick the package that fits you best
		<BoltIcon />
	</div>

	<Title type="h1" class="mt-6">Included with all plans</Title>
</div>
