---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Divider from "../components/ui/Divider.astro";
import Hero from "@/components/how-it-works/Hero.astro";
import Solution from "@/components/how-it-works/Solution.astro";
import SolutionDetails from "@/components/how-it-works/SolutionDetails.astro";
import DesignWorkflow from "@/components/how-it-works/DesignWorkflow.astro";
import DesignSteps from "@/components/how-it-works/DesignSteps.astro";
---

<BaseLayout>
	<Hero />
	<Divider size="medium" />
	<Solution />
	<Divider size="medium" />
	<SolutionDetails />
	<Divider size="extra-large" />
	<DesignWorkflow />
	<Divider size="large" />
	<div class="bg-night-blue text-neutral-100">
		<Divider size="large" />
		<DesignSteps />
	</div>
</BaseLayout>
