---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Divider from "@/components/ui/Divider.astro";
import FoundersQuote from "@/components/landing/FoundersQuote.astro";
import Hero from "@/components/why-us/Hero.astro";
import Rates from "@/components/why-us/Rates.astro";
import OurCoreValues from "@/components/why-us/OurCoreValues.astro";
import OurJourney from "@/components/why-us/OurJourney.astro";
import LineDivider from "@/components/ui/LineDivider.astro";
import Reviews from "@/components/landing/Reviews.astro";
import FAQ from "@/components/landing/FAQ.astro";
import CallToAction from "@/components/landing/CallToAction.astro";
---

<BaseLayout>
	<Hero />
	<Divider size="medium" />
	<FoundersQuote />
	<Divider size="medium" />
	<div class="site-container">
		<div class="border-neutral-95 border-t"></div>
		<Divider size="medium" />
		<Rates />
	</div>
	<div class="bg-night-blue">
		<OurCoreValues />
		<LineDivider />
		<OurJourney />
	</div>
	<Divider size="large" />
	<Reviews />
	<Divider size="large" />
	<FAQ />
	<Divider size="large" />
	<CallToAction />
</BaseLayout>
