---
import Title from "@/components/ui/Title.astro";
import HeroChip from "@/components/pricing/HeroChip.astro";
import Divider from "@/components/ui/Divider.astro";
---

<section class="site-container text-neutral-10">
	<div class="mx-auto max-w-[1000px] text-center">
		<Divider size="small" />
		<HeroChip title="From idea to delivery, fast" />

		<div class="mt-6 space-y-4">
			<Title type="h1"> The easiest way to delegate your graphic design </Title>

			<div class="text-k-lg text-neutral-40 mx-auto max-w-[80%]">
				Get top-quality designs delivered in 12-48 hours without hiring or managing designers.
			</div>

			<div class="mt-6 flex justify-center">
				<a class="button-primary" href="#">Start with a free 15 day trial</a>
			</div>
		</div>
	</div>
</section>
