---
import VideoHeroImage from "@/assets/images/how-it-works/video-hero.webp?url";

import PatternImage from "@/assets/icons/why-use-it/pattern.svg?url";

const wistiaScripts = `
  <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
  <script src="https://fast.wistia.com/embed/medias/vev5adlkpt.jsonp" async></script>
`;
---

<div>
	<div class="relative">
		<!-- Dot Background -->
		<div
			class="absolute -top-10 h-[80%] w-full bg-repeat"
			style={`background-image: url(${PatternImage})`}
		>
		</div>

		<!-- Overlay to hide the background between the hero and the video -->
		<div
			class="clip-diagonal-inverse absolute -top-10 left-1/2 h-[60%] w-[90%] -translate-x-1/2 bg-white"
		>
		</div>

		<div class="site-container relative lg:w-[80%]">
			<div class="wistia_embed wistia_async_vev5adlkpt popover=true popoverAnimateThumbnail=true popoverContent=link"
					 style="display:inline;position:relative">
				<a href="#">
					<img src={VideoHeroImage} alt="Solution" />
				</a>
			</div>
		</div>
	</div>
</div>


<div set:html={wistiaScripts} />

<style>
	.clip-diagonal-inverse {
		clip-path: polygon(
			0% 0%,
				/* Top-left corner */ 100% 0%,
				/* Top-right corner */ 90% 100%,
				/* Bottom-right diagonal inward */ 10% 100% /* Bottom-left diagonal inward */
		);
	}
</style>
