---
import ServiceItem from "@/components/ui/ServiceItem.astro";
import { services } from "@/data/services.js";
---

<div class="my-20">
	<div class="flex flex-wrap space-y-10 space-x-2">
		{services.map((service) => <ServiceItem data={service} />)}
	</div>
</div>
