---
import ArrowRightUp from "@/assets/icons/arrow-right-up.svg";
---

<section class="site-container text-neutral-10 mt-16">
	<div class="mx-auto max-w-[1000px] text-center">
		<div
			class="text-k-sm text-neutral-40 border-blue mb-4 inline-flex items-center gap-x-1 rounded-[100px] border px-4 py-1"
		>
			15 years of helping businesses
			<ArrowRightUp />
		</div>
		<div class="space-y-4">
			<h1 class="lg:text-k-h1 text-k-h1-mobile font-semibold">
				A dedicated design team for your business without the big price tag
			</h1>

			<div class="text-k-lg text-neutral-40">
				Get instant access to a team of professional designers—no hiring or contracts required for a
				flat monthly fee starting at $349/month.
			</div>

			<div class="mt-6 flex justify-center">
				<a class="button-primary" href="#">Start with a free 15 day trial</a>
			</div>
		</div>
	</div>
</section>
