---
import ArrowRightUp from "@/assets/icons/arrow-right-up.svg";
---

<section class="site-container text-neutral-10">
	<div class="mx-auto max-w-[1000px] text-center">
		<div
			class="text-k-sm text-neutral-40 border-blue inline-flex items-center gap-x-1 rounded-[100px] border px-4 py-1"
		>
			15 years of helping businesses
			<ArrowRightUp />
		</div>
		<div>
			<h1 class="lg:text-k-h1 text-k-h1-mobile font-semibold">
				A dedicated design team for your business without the big price tag
			</h1>
		</div>
	</div>
</section>
