---
import Logo from "@/assets/icons/logo.svg";
import ArrowIcon from "@/assets/icons/arrow-icon.svg";

const menuOptions = [
	{ label: "How it works", href: "#" },
	{ label: "Pricing", href: "#" },
	{ label: "Why us", href: "#" },
	{ label: "Testimonials", href: "#" },
	{ label: "Samples", href: "#" },
	{ label: "Case studies", href: "#" },
];
---

<nav class="site-container text-neutral-10 flex w-full py-6">
	<a href="/" class="flex items-center">
		<Logo class="h-7" />
	</a>
	<div class="flex grow items-center justify-center gap-x-7">
		{menuOptions.map((menuOption) => <a href={menuOption.href}>{menuOption.label}</a>)}
	</div>
	<div class="flex items-center gap-4 font-medium">
		<a href="https://kapa99.com/login">Login</a>
		<a
			href="https://kapa99.com/register"
			class="bg-neutral-10 flex items-center gap-2 rounded-[100px] px-5 py-3"
		>
			<span class="text-white">Start free trial</span>
			<ArrowIcon />
		</a>
	</div>
</nav>
