---
import type { PageComponent } from "@/pages.types";
import DesignWorkflow from "../../../components/how-it-works/DesignWorkflow.astro";
import Divider from "../../../components/ui/Divider.astro";
import DesignSteps from "../../../components/how-it-works/DesignSteps.astro";
import Benefits from "../../../components/landing/Benefits.astro";
import HowDoWeDoIt from "../../../components/landing/HowDoWeDoIt.astro";
import Reviews from "../../../components/landing/Reviews.astro";
import FAQ from "../../../components/landing/FAQ.astro";
import WhyUseIt from "../../../components/landing/WhyUseIt.astro";

interface Props {
	component: PageComponent;
}

type StaticTypes = "features" | "how-it-works" | "testimonials" | "faq" | "why-choose-kapa99";

const { component } = Astro.props;

const data = component?.pageable as { title: string; };
const type = data.title.toLowerCase().replace(/\s+/g, "-");

const isStaticComponent = (currentType: StaticTypes) => {
	return type === currentType;
};
---

{isStaticComponent("features") && (
<div>
	<Divider size="large" />
	<Benefits />
</div>
	)}

{isStaticComponent("how-it-works") && (
<Divider size="large" />
<HowDoWeDoIt />
	)}

{isStaticComponent("testimonials") && (
<Divider size="large" />
<Reviews />
	)}

{isStaticComponent("faq") && (
<Divider size="large" />
<FAQ />
	)}

{isStaticComponent("why-choose-kapa99") && (
<Divider size="large" />
<WhyUseIt />
	)}

<!--<script define:vars={{ data, type }}>-->
<!--	console.log({ data, type });-->
<!--</script>-->
