---
import ArrowRightUp from "@/assets/icons/arrow-right-up.svg";
import Title from "@/components/ui/Title.astro";
import OurClients from "@/components/landing/OurClients.astro";
import Divider from "../ui/Divider.astro";

import AaronDuncanImage from "@/assets/images/testimonials/aaron-duncan.webp?url";
import AngelaMurphyImage from "@/assets/images/testimonials/angela-murphy.webp?url";
import CynthiaMurphyImage from "@/assets/images/testimonials/cynthia-murphy.webp?url";
import JamesCarbaryImage from "@/assets/images/testimonials/james-carbary.webp?url";
import KeiraSpencerImage from "@/assets/images/testimonials/keira-spencer.webp?url";
import RyanUnderwoodImage from "@/assets/images/testimonials/ryan-underwood.webp?url";

const people = [
	{ name: "Aaron Duncan", image: AaronDuncanImage, styles: "absolute top-[5%] left-[35%]" },
	{ name: "Angela Murphy", image: AngelaMurphyImage, styles: "absolute top-[5%] left-[55%]" },
	{ name: "Cynthia Murphy", image: CynthiaMurphyImage, styles: "absolute top-[25%] left-[72%]" },
	{ name: "James Carbary", image: JamesCarbaryImage, styles: "absolute top-[25%] left-[18%]" },
	{ name: "Keira Spencer", image: KeiraSpencerImage, styles: "absolute top-[60%] left-[89%]" },
	{ name: "Ryan Underwood", image: RyanUnderwoodImage, styles: "absolute top-[60%] left-[1%]" },
];
---

<section class="site-container text-neutral-10 relative overflow-hidden">
	<Divider size="small" />

	<div class="relative mx-auto h-[300px] max-w-[90%]">
		{
			people.map((person) => (
				<div class:list={[person.styles]}>
					<img
						src={person.image}
						alt={person.name}
						class="rounded-ful max-w-[100px] rounded-full border-2 border-white object-cover shadow-lg"
					/>
				</div>
			))
		}
	</div>

	<!-- Main content container -->
	<div class="relative z-10 mx-auto -mt-[100px] max-w-[90%] pb-[64px] text-center">
		<!-- Badge -->
		<div
			class="text-k-sm text-neutral-40 border-blue mb-4 inline-flex items-center gap-x-1 rounded-[100px] border px-4 py-1"
		>
			15 years of helping businesses
			<ArrowRightUp />
		</div>

		<div class="mx-auto w-[70%] space-y-4">
			<Title type="h1">Trusted by leaders who value speed and design</Title>

			<div class="text-k-lg text-neutral-40 mx-auto max-w-[80%]">
				See why professionals choose our unlimited design service to grow without limits.
			</div>

			<div class="mt-8 flex justify-center">
				<a class="button-primary" href="#">Start with a free 15 day trial</a>
			</div>
		</div>
	</div>

	<div class="relative z-10">
		<OurClients />
	</div>
</section>
