---
import LineImage from "@/assets/images/line.webp?url";
import KateEricksonImage from "@/assets/images/testimonials/kate-erickson.webp?url";
import Title from "@/components/ui/Title.astro";
---

<div class="bg-night-blue relative">
	<img
		src={LineImage}
		alt="Kapa"
		class="absolute top-[50%] w-[100vw] -translate-y-1/2 object-cover"
	/>

	<div class="px-6 py-12 xl:px-[270px] xl:py-[120px]">
		<div
			class="relative mx-auto flex flex-col rounded-2xl border border-[#2F467F] bg-[#1D2B54] lg:w-[80%] lg:flex-row"
		>
			<div class="md:w-[50%] xl:w-[40%]">
				<img src={KateEricksonImage} alt="Kate Erickson" class="object-cover" />
			</div>
			<div
				class="flex flex-col justify-center p-6 md:px-16 md:pl-[60px] lg:w-[50%]"
				style="box-shadow: 0px 1px 2px 0px rgba(24, 29, 41, 0.18);"
			>
				<Title type="h4" class="text-neutral-100">Kate Erickson</Title>
				<p class="text-blue text-k-md mt-1">Content creator at EOnfire</p>
				<p class="text-k-lg text-neutral-95 mt-6">
					"We were fortunate to come across Kapa99 who has been working with us for easily more than
					a year now.

					<span class="mt-16 inline-block">
						Without their services there would have been a lot of projects that would never have
						come to fruition."
					</span>
				</p>
			</div>
		</div>
	</div>
</div>
