---
import Title from "@/components/ui/Title.astro";
import Divider from "@/components/ui/Divider.astro";

const stats = [
	{ label: "Tasks delivered", value: "500k+" },
	{ label: "Saved per month", value: "100h+" },
	{ label: "Years of experience", value: "15+" },
];
---

<div class="mx-auto max-w-[1000px]">
	<div class="grid grid-cols-2">
		<div>
			<Title type="h3">Built for modern businesses</Title>
		</div>
		<div class="text-neutral-40 flex flex-col gap-y-8 text-lg">
			<p>
				In 2014, we started with one goal: help small businesses access professional design without
				the cost or complexity of hiring in-house.
			</p>

			<p>
				Today, Kapa supports thousands of brands, founders, and marketers around the world with
				fast, reliable design that scales.
			</p>

			<p>
				Our model is simple: unlimited design, one flat price, real people delivering real results.
			</p>
		</div>
	</div>

	<Divider size="large" />

	<div class="mx-auto grid max-w-[80%] grid-cols-3 gap-x-8">
		{
			stats.map((stat) => (
				<div
					class="border-b-blue bg-light-blue rounded-xl border-b p-10"
					style="box-shadow: 24px 28px 24px 0px rgba(11, 15, 41, 0.06), 12px 12px 16px 0px rgba(11, 15, 41, 0.08), 3px 3px 8px 0px rgba(11, 15, 41, 0.08)"
				>
					<Title type="h3" class="!text-blue">
						{stat.value}
					</Title>
					<div class="text-neutral-40 text-md">{stat.label}</div>
				</div>
			))
		}
	</div>

	<Divider size="large" />
</div>
