---
type ISize = "medium" | "large" | "extra-large";

interface Props {
	size: ISize;
}

const { size = "medium" } = Astro.props;

const getDividerClasses = (size: string): string => {
	if (size == "extra-large") {
		return "h-50"; // 200px
	}

	if (size == "large") {
		return "h-30"; // 120px
	}

	return "h-20"; // 80px
};

const classes = getDividerClasses(size);
---

<div class={classes}></div>
