---
type ISize = "small" | "medium" | "almost-large" | "large" | "extra-large" | "super-large";

interface Props {
	size?: ISize;
	class?: string;
}

const { size = "medium", class: extraClasses = "" } = Astro.props;

const getDividerClasses = (size: string): string => {
	if (size == "super-large") {
		return "h-28 lg:h-60"; // 240px
	}

	if (size == "extra-large") {
		return "h-24 lg:h-50"; // 200px
	}

	if (size == "large") {
		return "h-20 lg:h-30"; // 120px
	}

	if (size == "almost-large") {
		return "h-14 lg:h-25"; // 100px
	}

	if (size == "medium") {
		return "h-10 lg:h-20"; // 80px
	}

	return "h-4 lg:h-14"; // 64px
};

const classes = getDividerClasses(size);
---

<div class={`${classes} ${extraClasses}`}></div>
