---
import type { IServiceItem } from "@/types";
import { serviceThemes } from "@/data/services";

interface Props {
	data: IServiceItem;
}

const { data } = Astro.props;
---

<div
	class="rounded-[40px] shadow-[31.496px_25.197px_11.024px_0px_rgba(255,255,255,0.01)_inset,20.472px_17.323px_11.024px_0px_rgba(255,255,255,0.04)_inset,11.024px_9.449px_9.449px_0px_rgba(255,255,255,0.15)_inset,4.724px_4.724px_6.299px_0px_rgba(255,255,255,0.26)_inset,1.575px_1.575px_3.15px_0px_rgba(255,255,255,0.29)_inset,69.291px_80.315px_29.921px_0px_rgba(0,0,0,0.00),44.094px_51.968px_26.772px_0px_rgba(0,0,0,0.01),25.197px_28.346px_23.622px_0px_rgba(0,0,0,0.03),11.024px_12.598px_17.323px_0px_rgba(0,0,0,0.05),3.15px_3.15px_9.449px_0px_rgba(0,0,0,0.06)]"
>
	<div
		class={`${serviceThemes[data.theme].background} px-5 py-2 text-k-lg rounded-[40px] shadow-[0px_-0.368px_0.23px_rgba(255,255,255,0.4),0px_-0.787px_0.787px_rgba(255,255,255,0.5),0px_0.368px_0.276px_rgba(0,0,0,0.2),0px_0.787px_0.787px_rgba(0,0,0,0.15)]`}
	>
		<div class="flex items-center justify-center space-x-2">
			<data.icon />
			<span class={`${serviceThemes[data.theme].textColor} font-medium`}>{data.title}</span>
		</div>
	</div>
</div>
